.main {
  height: 100vh;
}

.body,
.mask {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #afa18f;
  font-size: 64px;
  line-height: 80px;
  cursor: default;
}
span {
  color: #ec4e39;
}

p {
  width: 1000px;
  cursor: none;
}

.mask {
  position: absolute;
  -webkit-mask-image: url("/public/mask.svg");
  mask-image: url("/public/mask.svg");

  background: #ec4e39;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;

  -webkit-mask-size: 50px;
  mask-size: 50px;
  color: black;
}

